/* boilerplate */

body{
	background: #f09bd3;
    font-size:12px; 
    font-family: Futura, sans-serif;
    color: #ffffff;
}

.header{
	font-size:12px; 
    font-family: Futura, sans-serif;
    color: #ffffff;
}